    <div class="advert-container">
      <div class="advert-inner-container">

        <div class="trigger"></div>

        <div class="frame fade fade-in">
          <h1 class="heading main-heading">Click me</h1>
        </div>

        <div class="frame fade">
          <header class="header advert-header">
            <i id="close-ad-btn" class="btn btn-close"></i>
            <img class="logo main-logo" src="images/dennis-logo.svg">
            <h1 class="heading main-heading">Advert heading</h1>
          </header>
        </div>
      </div>
    </div>
