.billboard {
  background-color: #ededed;
  position: relative;
  width: 100%;
  height: 600px;
  // height: 250px;
  #ad-container {
    // .fadein {
    //   -webkit-animation-name: fade;
    //   -webkit-animation-iteration-count: infinite;
    //   -webkit-animation-duration: 6s;
    //   animation-name: fade;
    //   animation-iteration-count: infinite;
    //   animation-duration: 6s;
    // }

    // @-webkit-keyframes fade {
    //   0% {opacity: 0;}
    //   25% {opacity: 1;}
    //   50% {opacity: 1;}
    //   75% {opacity: 0;}
    //   100% {opacity: 0;}
    // }
    // @keyframes fade {
    //   0% {opacity: 0;}
    //   25% {opacity: 1;}
    //   50% {opacity: 1;}
    //   75% {opacity: 0;}
    //   100% {opacity: 0;}
    // }

    // .q2-small {
    //     -webkit-animation-name: fade;
    //     -webkit-animation-iteration-count: infinite;
    //     -webkit-animation-duration: 8s;
    //     animation-name: fade;
    //     animation-iteration-count: infinite;
    //     animation-duration: 8s;
    //     opacity: 0;
    // }
    // .q3-small {
    //   opacity: 0;
    //     -webkit-animation-name: fade;
    //     -webkit-animation-iteration-count: infinite;
    //     -webkit-animation-duration: 8s;
    //     animation-name: fade;
    //     animation-iteration-count: infinite;
    //     animation-duration: 8s;
    //     -webkit-animation-delay: 2s;
    // }
    // .q5-small {
    //   opacity: 0;
    //     -webkit-animation-name: fade;
    //     -webkit-animation-iteration-count: infinite;
    //     -webkit-animation-duration: 8s;
    //     animation-name: fade;
    //     animation-iteration-count: infinite;
    //     animation-duration: 8s;
    //     -webkit-animation-delay: 4s;
    // }
    // .q7-small {
    //   opacity: 0;
    //     -webkit-animation-name: fade;
    //     -webkit-animation-iteration-count: infinite;
    //     -webkit-animation-duration: 4s;
    //     animation-name: fade;
    //     animation-iteration-count: infinite;
    //     animation-duration: 8s;
    //     -webkit-animation-delay: 6s;
    // }
    .fade {
      color: transparent;
      opacity: 0;
      z-index: 0;
      -webkit-backface-visibility: hidden;
      -webkit-animation: imageAnimation 30s linear infinite 0s;
      -moz-animation: imageAnimation 30s linear infinite 0s;
      -o-animation: imageAnimation 30s linear infinite 0s;
      -ms-animation: imageAnimation 30s linear infinite 0s;
      animation: imageAnimation 12s linear infinite 0s; 
    }
    @-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    27% { opacity: 1 }
    35% { opacity: 0 }
    100% { opacity: 0 }
}

    .fade.q3 {
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
      -o-animation-delay: 6s;
      -ms-animation-delay: 6s;
      animation-delay: 3s; 
    }

    .fade.q5 {
      -webkit-animation-delay: 12s;
        -moz-animation-delay: 12s;
        -o-animation-delay: 12s;
        -ms-animation-delay: 12s;
        animation-delay: 6s; 
    }
    
        .fade.q7 {
       -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 9s; 
    }

    //      .fade.q7-small {
    // -webkit-animation-delay: 24s;
    // -moz-animation-delay: 24s;
    // -o-animation-delay: 24s;
    // -ms-animation-delay: 24s;
    // animation-delay: 24s; 
    // }

    .title-cta {
      img.logo-tagline {
        z-index: 100;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 190px;
        @media screen and (min-width: 460px) {
          width: 190px;
        }
         @media screen and (min-width: 800px) {
          width: 215px;
        }
      }
      img.quiz-btn {
        z-index: 100;
        position: absolute;
        bottom: 68px;
        left: 20px;
        // HMPU
        @media screen and (min-height: 300px) {
          left: 0;
          right: 0;
          margin: auto;
          bottom: 110px;
          width: 175px;
        }
        @media screen and (min-width: 460px) {
          bottom: 60px;
        }
       @media screen and (min-width: 800px) {
          bottom: 34px;
        }
      }
      img.more-btn {
        z-index: 100;
        position: absolute;
        bottom: 27px;
        left: 20px;
        // HMPU
        @media screen and (min-height: 300px) {
          left: 0;
          right: 0;
          margin: auto;
          bottom: 63px;
          width: 175px;
        }
        @media screen and (min-width: 460px) {
          bottom: 20px;
        }
        @media screen and (min-width: 800px) {
          bottom: 33px;
          left: 186px;
        }
      }
    }
    .small-cars {
      img {
        position: absolute;
        right: 0;
      }
      img.letter {
        width: 70px;
        right: 48px;
        top: 10px;
        // HMPU
        @media screen and (min-height: 300px) {
          left: 0;
          right: 0;
          margin: auto;
          top: 170px;
          width: 110px;
        }
        img.letter.q2 {
          @media screen and (min-height: 300px) {
            top: 163px;
        }
        // Mobile wide
        @media screen and (min-width: 460px) {
          width: 65px;
          right: 95px;
          top: 5px;
        }
      }
      img.car {
        bottom: 18px;
        width: 275px;
        right: -100px;
        @media screen and (min-height: 300px) {
          left: 0;
          right: 0;
          margin: auto;
          bottom: 160px;
        }
        @media screen and (min-width: 375px) {
          right: -50px;
        }
        @media screen and (min-width: 460px) {
          width: 320px;
          bottom: 10px;
        }
      }
      @media screen and (min-width: 700px) {
        visibility: hidden;
      }
    }
    .cars {
      top: 7px;
      visibility: hidden;
      @media screen and (min-width: 700px) {
        visibility: visible;
      }
      img {
        position: absolute;
        right: 3px;
        top: 12px;
        width: 487px;
        @media screen and (min-width: 900px) {
          width: 587px;
          top: -19px;
        }
      }
    }
    .border {
      .slice {
        position: absolute;
        right: 0;
        opacity: 0.9;
        bottom: -10px;
        width: 75%;
        max-width: 500px;
         // HMPU
        @media screen and (min-height: 300px) {
          width: 100%;
          bottom: 0;
        }
      }
    }
  }
}
