      <div class="advert-container">
        <img class="logo main-logo" src="images/dennis-logo.svg">
        <h1>Welcome to your default template</h1>
        <p>You essentially have a blank canvas here with minimal markup and a skeleton JS file.</p>
        <p>Now you have set up your advert you can start building. Check the readme.md file for what to do next.</p>
        <a class="btn btn-standard" href="https://github.com/dennisinteractive/html-ad-templates/blob/universal-ad-template/README.md">Check the readme.md</a>
      </div>
